<ul class="nav justify-content-end" id="logout">
  <li class="nav-item">
    <a class="nav-link active" href="#">Logout</a>
  </li>
</ul>

<div class="row">
   <ul>
     {{#each books}}
     <li>
       <h2>{{this.Book.title}}</h2>
       <h3>Votes: {{this.Count}}</h3>
       <h3>author: {{this.Book.author}}</h3>
       <p>description: {{this.Book.description}}</p>
       {{!-- <p>isbn_type: {{this.Book.ISBN_type}}</p>
       <p>isbn_id: {{this.Book.ISBN_ID}}</p>
       <p>page count: {{this.Book.pageCount}}</p>
       <p>category: {{this.Book.category}}</p> --}}
     </li>
     {{/each}}
   </ul>
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  {{!-- <script src="js/addbook.js" type="text/javascript"></> --}}
 


