<div class="row">
   <ul>
     {{#each books}}
     <li>
       <h2>{{title}}</h2>
       <h3>author: {{author}}</h3>
       <p>description: {{description}}</p>
       <p>isbn_type: {{ISBN_type}}</p>
       <p>isbn_id: {{ISBN_ID}}</p>
       <p>page count: {{pageCount}}</p>
       <p>category: {{category}}</p>
     </li>
     {{/each}}
   </ul>
 </div>
