<div class="container"> 
           {{#each books}}  
          <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{this.volumeInfo.imageLinks.thumbnail}}" class="img-fluid" alt="" style="width:250px;height:300px">
            </div>
            <div class="col"> 
                <div class="card-block px-2">
                    <h5 class="bookTitle" } >{{this.volumeInfo.title}}</h5>
                    <h6 class="bookAuthor">{{this.volumeInfo.authors}}</h6>
                    <p class="bookPlot">{{this.volumeInfo.description}}</p>
                     <button class="BookButton btn btn-primary" data-idname="{{this.id}}" id="{{this.id}}" data-title="{{this.volumeInfo.title}}"> Add Book!</a>
                </div>
            </div>
                <br>
             {{/each}} 
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/addbook.js"></script>
